body{
	font: 80% "Trebuchet MS", sans-serif;
	height: 99%;
	width: 99%;
	max-height: 99%;
	max-width: 99%;
}

.margin_opt {
	margin-top: 1em;
}

* {
	/*-webkit-user-select: none;
	-khtml-user-select: none;*/
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main {
	width: auto;
	height: auto;
	background-color: transparent;
}

.login_header {
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 3em;
}

.main_header {
	width: 99%;
	height: auto;
	text-align: left;
	padding-top: 1em;
	position: absolute;
}

#im_banner {
	transform: scale(0.5);
	position: absolute;
	left: -5em;
	top: -1em;
	/*animation-name: im_banner_anim;
    animation-duration: 1s;*/
}

@keyframes im_banner_anim {
    from {transform: scale(2); left: 0em; top: 2em;}
    to   {transform: scale(0.5); left: -5em; top: -1em;}
}

.d_menu {
	margin-top: 9em;
	color: #0aae13;
	font-weight: bold;
	width: 25%;
	min-width: 200px;
}

ul {
	padding-left:30px; list-style:none;
}
li {
	margin-bottom:1em;
	font-size: 14px;
	cursor: pointer;
}
li:before {    
    font-family: 'FontAwesome';
    content: '\f0ce';
    margin:0 5px 0 -15px;
}

.d_menu label {
	cursor: inherit;
}

.d_content {
	position: absolute;
	top: 9em;
	margin-left: 170px;
	width: 85%;
	text-align: right;
	height: 80vh;
}

.d_content > fieldset {
	border-radius: 1em;
	height: 75vh;
}

.c_check_field{
	width: 45%;
	float: left;
}

.login_form {
	width: 50%;
	padding-left: 25%;
	text-align: center;
	padding-top: 5em;
}

.login_form > fieldset {
	border-radius: 2em;
	padding-right: 5px;
	text-align: right;
}

.d_full_fill {
	width: 100%;
	padding-left: 0px;
	padding-top: 2em !important;
}

.d_button{
	width: 100% !important;
}

.handler_lister {
	border: 1px solid #ccc;
	overflow-y: scroll;
	padding: 1em;
	height: 17vh;
	width: 75%;
	float: left;
}

.handler_lister2 {
	border: 0px solid #ccc;
	padding: 1em;
	width: 75%;
	float: left;
}

.scrollDiv {
	overflow-y: scroll;
	height: 54vh;
}

.handler_lister2 input{
	width: 43% !important;
	margin-left: 1ex;
}

.handler_lister2 label{
	width: 100% !important;
	margin-left: 4ex;
}

.extra_padding_botton {
	padding-bottom: 3ex;
}

.form_1_row {
	width: auto;
	padding: 2em;
	align-items: flex-start;
	text-align: center;
}

.td_event {
	width: 50%;
	padding: 1em;
	text-align: left;
	border: 1px solid #ccc;
	background-color: #dedede;
	transition: background-color 0.5s, padding-left 0.5s;
}

.td_event:hover {
	background-color: #ccc;
	padding-left: 1.5em;
}

.horizontal_row {
	padding-bottom: 1em;
	text-align: left;
}

.horizontal_row > label, .horizontal_row > span {
	float: left;
	text-align: right;
	width: 40%;
	padding-top: 0.5em;
	height: 2em;
}

.horizontal_row > input {
	text-align: left;
	width: 45%;
	margin-left: 1em;
}

.horizontal_row > select {
	text-align: left;
	width: 45%;
	margin-left: 1em;
}

.d_event_submit {
	float: right;
}

.d_event_submit input {
	width: 5em !important;
}

.d_submit {
	padding-top: 2em;
}

.d_info{
	padding-top: 1em;
	padding-bottom: 2em;
	font-style: italic;
	font-family: cursive;
	color: red;
}

.d_left_resumer {
	border: 1px solid #ccc;
	width: 25%;
	min-height: 260px;
	overflow-y: scroll;
	overflow-x: hidden !important;
	padding: 1em;
	float: left;
	height: 54vh;
}

.d_resumer_large {
	width: 35% !important;
	margin-left: 2em;
}

.d_rigth_actions {
	width: auto;
	overflow-y: hidden !important;
	border: white;
	margin-left: 2em;
	text-align: center;
}

.d_rigth_actions input[type="submit"] {
	width: auto;
	min-width: 100px;
}

.d_rigth_executor {
	border: 1px solid #eee;
	float: right;
	width: 65%;
	min-height: 250px;
	padding: 1em;
	text-align: center;
	height: 54vh;
}

.d_full_executor {
	width: 100%;
	position: relative;
}

.d_left_resumer_table {
	border: 0;
	width: 100%;
}

.dragging {
	position: absolute;
	z-index: 99999;
	height: 5px;
}

.d_left_resumer_table td {
	background-color: #0aae13;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 5px;
	color: white;
	border-radius: 5px;
	text-transform: capitalize;
	font-weight: bold;
	border: 1px solid #0aae13;
	text-align: left;
	cursor: pointer;
	transition: background-color 0.5s, padding-left 1s, color 0.5s,;
}

.d_description {
	font-size: 8px;
	font-style: italic;
}

.d_left_resumer_table td:hover {
	background-color: #4cae4c;
	padding-left: 1em;
	color: black;
}

.d_left_form_container {
	float: left;
	width: 49%;
	text-align: left;
}

.d_rigth_form_container {
	float: right;
	width: 49%;
	text-align: left;
}

.d_form_row {
	height: 7ex;
}

.d_form_label {
	text-align: left;
	margin-left: 16px;
	vertical-align: middle;
	display: table-cell;
	width: 110px;
	float: left;
	padding-top: 1ex;
}

.d_form_field {
	width: 60%;
	float: left;
}

.d_form2_label {
	text-align: left;
	margin-left: 16px;
	vertical-align: middle;
	display: table-cell;
	width: 90px;
	float: left;
	padding-top: 1ex;
}

.d_form2_field {
	width: 60%;
	float: left;
}

.d_form_submit {
	width: 100%;
	float: left;
	text-align: center;
}

.d_form_row input[type="text"], .d_form_row input[type="number"] {
	transition: width 0.5s;
}

.d_form_row input[type="text"]:focus, .d_form_row input[type="number"]:focus {
    width: calc(100% - 15%);
}

.d_margin_events {
	margin-left: 5%;
}

.d_alert_dialog_bk {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
}

.d_alert_dialog_full {
	position: absolute;
	background-color: white;
	border: 1px solid black;
	top: 10%;
	left: 20%;
	width: 60%;
	height: 70%;
	z-index: 99999;
	display: none;
	border-radius: 1em;
	padding: 2em;
}

.d_alert_dialog_submit {
	width: 100%;
	text-align: center;
	padding-top: 4em;
}

.d_width_55 {
	padding-top: 3ex;
	width: 55% !important;
}

.d_alert_dialog_buttons {
	width: 100%;
	text-align: center !important;
}

.d_mapper_resumer {
	width: 70% !important;

}

.d_mapper_resumer li:before {
	content: "→" !important;
	color: green;
	font-weight: bold;
}

.d_modifier_resumer {
	width: 100%;
	height: 96%;
	overflow-y: scroll;
	border: 1px solid #ccc;
}

.d_modifier_loading {
	position: absolute;
	top: 1em;
	width: 96%;
	height: 93%;
	background-color: white;
	text-align: center;
	vertical-align: middle;
}

.d_modifier_loading > #i_loading_modifier {
	margin-top: 20%;
}

.d_left_resumer_table th {
	text-align: center;
	background-color: green;
	padding: 1em;
	color: white;
	font-weight: bold;
}

.d_center_resumer {
	width: 49%;
	float: left;
	margin: 3em;
	text-align: left;
}

.td_disabled {
	background-color: #D8D8D8 !important;
	border: 1px solid #B9B9B7 !important;
}

.d_right_creator_editor {
	border: 1px solid #ccc;
	padding-left: 1em;
	float: right;
	width: 70%;
	overflow-y: scroll;
	overflow-x: hidden !important;
	height: 54vh;
	min-height: 260px;
	margin-left: 1em;
}

.opcionesClass {
	max-width: 30em;
}

.d_fieldset_container {
	border: 1px dotted gray;
	padding: 1em;
	margin: 1ex;
	text-align: left;
}

.d_fieldset_container > input, .d_fieldset_container > select {
	border-radius: 0em !important;
}

.d_fieldset_container label {
	border: 0px !important;
	padding: 0em !important;
	margin-top: 1em !important;
	background-color: transparent !important;
}

.d_fieldset_container input[type="checkbox"] {
	width: 15px !important;
	height: 15px !important;
	margin-top: 1em;
}
.d_fieldset_container input[type="text"], .d_fieldset_container input[type="number"] {
	border: 1px dashed #9C9A9A;
	font-weight: bold;
	color: green;
	transition: width 0.5s, border 0.5s, border-radius 0.5s, color 0.5s;
}

.d_fieldset_container input[type="text"]:focus, .d_fieldset_container input[type="number"]:focus {
	width: calc(100% - 15%);
	border: 1px solid #4cae4c;
	border-radius: 1em !important;
	color: black;
}

.d_add_img_content {
	text-align: center;
	background-color: white;
	color: #0aae13;
	cursor: pointer;
	transition: background-position 1s ease-out;
}

.d_add_img_content_option {
	margin:0 auto;
	max-width: 40%;
	text-align: center;
	background-color: white;
	color: #0aae13;
	cursor: pointer;
	transition: background-position 1s ease-out;
}

.d_add_img_content:hover {
	background: linear-gradient(
		white 28px,
		#0aae13,
		#0aae13 32px,
		white 28px
	);
}

.d_add_img_content_option:hover {
	background: linear-gradient(
		white 28px,
		#0aae13,
		#0aae13 32px,
		white 28px
	);
}

.i_add_Button {
	float: none !important;
	height: 48px;
	width: 48px;
	background: linear-gradient(
		transparent 15px,
		white,
		white 32px,
		transparent 28px
	);
	transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 4);
}

.i_add_Button:hover {
	transform: scale(1.2, 1.2);
}

.i_addButton < div {
	text-align: center;
}

.td_edit_text_field_selector {
	background-image: url('../images/png/form_input_text.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 55px;
	width: 50%;
	cursor: pointer;
}

.td_single_choise_field_selector {
	background-image: url('../images/png/form_input_select_single.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 55px;
	width: 50%;
	cursor: pointer;
}

.td_date_field_selector {
	background-image: url('../images/png/form_input_datepicker.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px;
	height: 55px;
	width: 50%;
	cursor: pointer;
}

.td_multiple_choise_field_selector {
	background-image: url('../images/png/form_input_checkbox.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 55px;
	width: 50%;
	cursor: pointer;
}

.d_field_settings {
	float: right;
	width: 32px;
}

.img_field_settings {
	background-image: url('../images/png/form_field_menu.png');
	background-size: 32px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	min-width: 32px;
	min-height: 32px;
	z-index: 100;
	padding-top: 7px;
	/*padding-top: 31px;*/
}

.d_any_field_option {
	position: relative;
	width: 100px;
	right: 105px;
	/*right: 80px;*/
	padding-left: 5px;
	cursor: pointer;
	background-color: #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	box-shadow: 3px 3px 3px gray;
	border: 1px solid #B9B9B9;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out ;
	-ms-transition: all .5s ease-out ;
	-o-transition: all .5s ease-out ;
	transition: all .5s ease-out ;
	display: none;
}

.d_any_field_option:hover {
	background-color: #c0c0c0;
	box-shadow: 3px 3px 3px gray inset;
}

.d_any_field_option:active {
	box-shadow: 3px 3px 3px gray;
}

/**************
 ID
 **************/

#d_notice {
	font-style: italic;
	color: red;
	position: absolute;
	width: 50%;
	left: 25%;
	font-weight: bold;
}

#fields_selector_actions {
	position: relative;
}

#events_selector_actions {
	position: relative;
}

#d_notice_tab {
	font-style: italic;
	color: red;
	position: absolute;
    float: inherit;
    width: inherit;
	font-weight: bold;
    text-align: center;
}

#d_notice_tab > img {
	float: none !important;
}

#f_nEvent {
	margin-top: 3ex;
}

/********************
 TYPE AND DECLARATION
 ********************/

input, select {
	border-radius: 1em;
    border: solid 1px #9C9A9A;
	padding-left: 0.5em;
	height: 2em;
	width: 80%;
	outline: none;
}

input:focus, select:focus {
	border: solid 1px #4cae4c;
}

input:disabled, select:disabled {
	background-color: #D8D8D8;
	border: 1px solid #B9B9B7;
}

select {
	width: 83%;
	height: 4.5ex;
}

input[type="text"], input[type="number"] , input[type="password"] {
	transition: width 0.5s;
}

 input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
    width: 48.5%;
}

input[type="button"], input[type="submit"] {
	background-color: #0aae13;
	border: solid 1px #4cae4c;
	border-radius: 1em;
	font-weight: bold;
	height: 3em;
	width: 10em;
	color: white;
	margin-top: 2em;
	cursor: pointer;
	margin-left: 50em;
}

input[type="button"]:disabled, input[type="submit"]:disabled {
	background-color: #ccc;
	border: 1px solid #ccccc0;
	color: gray;
	cursor: auto;
}

input[type = "checkbox"]{
	width: 16px;

}

fieldset {
	border-radius: 1em;
	padding-right: 3em;
	text-align: right;
}

r {
	color: red;
	font-weight: bold;
}

/*************
  CONTEXT MENÚ
 *************/
.show {
    z-index:999999;
    position: absolute;
    background-color: transparent;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
}
.hide {
    display: none;
}

.table_context_menu td {
	background-color: #ccc;
	padding: 5px;
	color: black;
	text-transform: capitalize;
	font-weight: bold;
    border: 1px solid gray;
	cursor: pointer;
	transition: background-color 0.4s;
}

.table_context_menu td:hover {
	background-color: gray;
}